.work-item {
  & img {
    border-radius: 6%;
    overflow: hidden;
  }
}
.work-wait {
  width: 60%;
}

.profile-skill_container {
  display: flex;

  .profile-container,
  .skill-container {
    flex-direction: column;
    border-radius: 10%;
    box-shadow: 20px 20px #c4c4c4;

    & img {
      width: 50%;
      height: 80%;
      border-radius: 50%;
      overflow: hidden;
    }

    .profile-avatar-wrapper {
      display: flex;

      & img {
        margin-top: 5%;
      }
      .profile-avatar-text {
        width: 50%;
        margin-top: 18%;
      }
    }

    .profile-text {
      text-align: center;
      margin: 4%;
    }
  }
  .profile-container:hover {
    box-shadow: none;
    transform: translate(20px, 20px);
    transition: all 0.8s ease-in;
  }

  .skill-container {
    .skill-icon_container {
      // display: flex;
      // flex-wrap: wrap;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      margin-left: 20%;
      .skill-icon {
        width: 50%;
        margin: 17% 0 0 4%;
      }
    }
  }
  .skill-container:hover {
    box-shadow: none;
    transform: translate(20px, 20px);
    transition: all 0.8s ease;
  }
}
.form_container {
  background-color: #fff0f0;
  padding-top: 2%;

  form div {
    margin-bottom: 12px;
    margin-left: 20%;

    label {
      margin-bottom: 4px;
      display: block;
    }

    input,
    textarea {
      background: rgba(255, 255, 255, 0.5);
      border: 1px #fff solid;
      border-radius: 5px;
      padding: 10px;
      font-size: 1.5rem;
    }

    input {
      width: 100%;
      max-width: 60%;
    }

    textarea {
      width: 100%;
      max-width: 80%;
      height: 12rem;
    }

    input [type="submit"] {
      border: none;
      cursor: pointer;
      line-height: 1;
    }
  }
}
.button {
  border: 2px #333 solid;
  border-radius: 20px;
  background-color: #fff;
  width: 180px;
  padding: 1.5%;
  margin: 0 0 2% 20%;
  box-shadow: 10px 10px rgba(0, 0, 0, 0.3);
}
.button:hover {
  box-shadow: none;
  transform: translate(10px, 10px);
  transition: all 0.8s ease;
}
